<%- include('../partials/header') %>

<h1>Página Sobre</h1>
<p>Algum conteúdo...</p>

<!-- A imagem local -->
<img src="/images/foto.png" alt="Imagem Local" style="width: 200px;" />

<%- include('../partials/footer') %>
